<!DOCTYPE html>
<html lang="en">
    {{>head}}
<body>
    <div class="main-container center"> 
        <div class="circle-container center">
            <div class="semicircle"></div>
            <div class="semicircle"></div>
            <div class="semicircle"></div>
            <div class="outermost-circle"></div>
        </div>
        <div class="timer-container center">
            <div class="timer center"></div>
        </div>
    </div>
    <div class="container">
        {{{body}}}
    </div>
</body>

</html>